mixin add-input(name, value, placeholder, type, inputClass)
    +b.add-input&attributes(attributes)
        +e.icon
            != pugHelpers.Icon.call(locals, {iconName: 'plus', className: 'add-input__plus', iconWidth: '12', iconHeight: '12'})
        +e.INPUT.control(placeholder=placeholder name=name value=value type=type class=inputClass||'').control
