include ../navbar/navbar
include ../logo/logo
include ../search-bar/search-bar
include ../avatar/avatar
include ../follow-us/follow-us
include ../photo-tape/photo-tape
include ../city-suggest/city-suggest
include ../accordion/accordion
include ../button/button
include ../city-list/city-list
include ../selectbox/selectbox
include ../user-dropdown-popup/user-dropdown-popup

mixin header(dark, isGuest, activeMenu, isUser, isAgencies)

    - var getActive = function(candidate) { return activeMenu === candidate ? 'active' : ''};
    - var avatar = isUser ? 'jackson.png' : 'navbar.png'
    - var name = isUser ? 'Michael' : 'Megan'

    +b.HEADER.header&attributes(attributes)
        // DESKTOP NAVBAR
        +e.NAV.navbar._desktop
            +navbar(class=!!dark ? '_dark' : '')
                +navbar-item._logo
                    +navbar-link(href='index.html')
                        +logo

                +navbar-item(class=getActive('all escorts'))
                    +navbar-link(href='model-list.html')
                        +navbar-heading All Escorts
                        +navbar-description 44062

                +navbar-item(class=getActive('independent'))
                    +navbar-link(href='model-list.html')
                        +navbar-heading Independent
                        +navbar-description 41908

                +navbar-item(class=getActive('agencies'))
                    +navbar-link(href='agency-list.html')
                        +navbar-heading Agency's
                        +navbar-description 2154

                +navbar-item._flexible._no_hover
                    +search-bar('Search <span>(for example, a telephone number)</span>')(class=!!dark ? '_dark' : '')

                +navbar-item(data-popup-id='#select-city' data-popup-template='popups/select-city-popup.html' data-action='toggle')._city._dropdown.js-toggle-popup
                    +navbar-link-dropdown(href='#')
                        +navbar-heading City
                        +navbar-description Los Angeles
                    +navbar-popup-wrapper
                        +city-suggest.__suggest

                +navbar-item._filter.show-fixed
                    +navbar-link(href='#' data-popup-id='#filter-extended' data-popup-template='popups/filter-extended.html' data-action='toggle')._row._has_badge.js-toggle-popup
                        +navbar-badge._top_right 2
                        +navbar-col
                            +navbar-heading Filter
                        +navbar-col
                            != pugHelpers.Icon.call(locals, {iconName: 'filter-button', className: 'header__filter-icon', iconWidth: 23, iconHeight: 16})
                            != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'header__filter-close', iconWidth: 14, iconHeight: 14})

                +navbar-item.show-fixed
                    +selectbox.__control
                        +selectbox-control(name='sory-by')
                            optgroup(label='Date')
                                option(value='date-newest') Newest first
                                option(value='date-oldest') Oldest first
                            option(value='distance') Distance
                            option(value='Rating') Rating
                            option(value='Price') Price
                +navbar-item.show-fixed
                    +button(href=isAgencies ? 'agency-list.html' : 'model-list.html')._color_white._bg_darkGrey._uppercase.active View on list
                +navbar-item._dropdown._credits
                    +navbar-link-dropdown(href='#')
                        +navbar-heading Credits
                        +navbar-description
                            | 2260
                            != pugHelpers.Icon.call(locals, {iconName: 'currency', className: 'navbar__icon_currency', iconWidth: '14', iconHeight: '13'})
                    +navbar-dropdown
                        +navbar-items
                            +navbar-item
                                +navbar-link(href='boost-account-payment.html')._row
                                    +navbar-heading Buy credits
                            +navbar-item
                                +navbar-link(href='#')._row
                                    +navbar-heading Transaction history
                            +navbar-item
                                +navbar-link(href='boost-account.html')._row
                                    +navbar-heading Boost my account

                if isGuest
                    // user isn't authorized
                    +navbar-item._login
                        +navbar-link(href='#' data-popup-id='#auth-popup' data-popup-template='popups/auth-popup.html' data-action='show')._row.js-toggle-popup
                            +navbar-col
                                != pugHelpers.Icon.call(locals, {iconName: 'profile', className: 'navbar__icon_profile', iconWidth: '18', iconHeight: '17'})
                            +navbar-col
                                +navbar-description._dark._solo login

                else
                    // user is authorized
                    +navbar-item._dropdown._profile(class=getActive('menu'))
                        +navbar-link-dropdown(href='#')._row._has_badge
                            +navbar-badge._top_right 2
                            +navbar-col
                                +avatar(avatar)._size_small
                            +navbar-col
                                +navbar-heading=name
                                +navbar-description menu
                        +navbar-dropdown
                            +navbar-items
                                +navbar-item
                                    +navbar-link(href='user-profile-feedbacks.html')._row
                                        +navbar-heading My Profile
                                +navbar-item
                                    +navbar-link(href='user-settings.html')._row
                                        +navbar-heading Settings
                                +navbar-item
                                    +navbar-link(href='user-messages.html')._row
                                        +navbar-col
                                            +navbar-heading Messages
                                        +navbar-col
                                            +navbar-badge._default 1
                                +navbar-item
                                    +navbar-link(href='user-visitors.html')._row
                                        +navbar-col
                                            +navbar-heading Visitors
                                        +navbar-col
                                            +navbar-badge._default._dark
                                +navbar-item
                                    +navbar-link(href='user-feeds.html')._row
                                        +navbar-col
                                            +navbar-heading FEEDS
                                        +navbar-col
                                            +navbar-badge._default 2
                                +navbar-item
                                    +navbar-link(href='#')._row
                                        +navbar-col
                                            +navbar-heading Invite Friends
                                        +navbar-col
                                            +navbar-badge._default._dark
                                +navbar-item
                                    +navbar-link(href='#')._row
                                        +navbar-heading Logout

                            +navbar-items
                                +navbar-item
                                    +navbar-link(href='terms.html')._row._transparentify
                                        +navbar-heading About us
                                +navbar-item
                                    +navbar-link(href='terms.html')._row._transparentify
                                        +navbar-heading Help
                                +navbar-item
                                    +navbar-link(href='terms.html')._row._transparentify
                                        +navbar-heading privacy & Terms
                                +navbar-item
                                    +navbar-link.DIV
                                        +follow-us

        // MOBILE NAVBAR
        +e.NAV.navbar_mobile
            +navbar(class=!!dark ? '_dark' : '')
                +navbar-item
                    +navbar-link(href='index.html')
                        +logo
                +navbar-item
                    +navbar-link(href='#')._active-style_main.js-header-toggle-search-bar
                        != pugHelpers.Icon.call(locals, {iconName: 'search', className: 'navbar__icon_search', iconWidth: '14', iconHeight: '14'})
                +navbar-item
                    +navbar-link(href='#' data-popup-id='#filter-extended' data-popup-template='popups/filter-extended.html' data-action='toggle').js-toggle-popup
                        != pugHelpers.Icon.call(locals, {iconName: 'filter-button', className: 'navbar__icon_filter', iconWidth: '19', iconHeight: '12'})
                +navbar-item
                    +navbar-link(href=isAgencies ? 'agency-list.html' : 'model-list.html')._mob-map
                        != pugHelpers.Icon.call(locals, {iconName: 'location', className: 'navbar__icon_location', iconWidth: '18', iconHeight: '21'})
                        != pugHelpers.Icon.call(locals, {iconName: 'list-view', className: 'navbar__icon_list-view', iconWidth: '22', iconHeight: '14'})

                if isGuest
                    // user isn't authorized
                    +navbar-item
                        +navbar-link(href='user-profile-feedbacks.html' data-popup-id='#auth-popup' data-popup-template='popups/auth-popup.html' data-action='show').js-toggle-popup
                            != pugHelpers.Icon.call(locals, {iconName: 'profile', className: 'navbar__icon_profile', iconWidth: '18', iconHeight: '17'})
                else
                    // user is authorized
                    +navbar-item._profile(class=getActive('menu'))
                        +navbar-link(href='#' data-popup-id='#user-dropdown-popup' data-action='toggle').js-toggle-popup
                            +navbar-badge._top_right 2
                            +avatar(avatar)._size_small
        +e.search-bar
            +search-bar()(class=!!dark ? '_dark' : '')._extended

        +photo-tape

    // mobile profile popup, if user is authorized.
    +user-dropdown-popup
