include ../container/container
include ../list/list
include ../text/text

mixin terms(heading, active)
    +b.terms&attributes(attributes)
        +container
            +e.main
                +e.sidebar
                    +list(true)
                        +list-item(class=active===1 ? 'active' : '')
                            +list-button(href='about-us.html') About Us
                        +list-item(class=active===2 ? 'active' : '')
                            +list-button(href='terms.html') Terms
                        +list-item(class=active===3 ? 'active' : '')
                            +list-button(href='privacy.html') Privacy
                        +list-item(class=active===4 ? 'active' : '')
                            +list-button(href='contact-us.html') Contact Us
                    +list(true)
                        +list-item(class=active===5 ? 'active' : '')
                            +list-button(href='ticketing-system.html') Ticketing system
                        +list-item(class=active===6 ? 'active' : '')
                            +list-button(href='faq.html') FAQ
                        +list-item(class=active===7 ? 'active' : '')
                            +list-button(href='safety-and-security-tips.html') Safety and Security Tips
                +e.content
                    +heading=heading
                    +text
                        block
