include ../container/container
include ../heading/heading
include ../uploaded-photo/uploaded-photo
include ../fill-profile-nav/fill-profile-nav
include ../grid/grid
include ../file/file
include ../field/field
include ../button/button
include ../selectbox/selectbox
include ../checkbox/checkbox
include ../radio/radio
include ../icon-button/icon-button
include ../textarea/textarea
include ../accordion/accordion
include ../map/map
include ../add-input/add-input
include ../input-selectlike/input-selectlike

mixin user-fill-profile(activeItem)
    +b.user-fill-profile&attributes(attributes)
        +container
            +heading My Profile
            +e.content
                block
                +e.sidebar
                    -
                        var menuItems = [
                            { title: 'Photo & Video', href: 'user-fill-profile.html'},
                            { title: 'Personal data', href: 'user-fill-profile2.html'},
                            { title: 'Availability', href: 'user-fill-profile3.html'},
                            { title: 'Contact', href: 'user-fill-profile4.html'},
                            { title: 'Rate', href: 'user-fill-profile5.html'},
                            { title: 'About me', href: 'user-fill-profile6.html'},
                            { title: 'Service', href: 'user-fill-profile7.html'},
                            { title: 'Tours', href: 'user-fill-profile8.html'},
                            { title: 'Get verified', href: 'user-fill-profile9.html'}
                        ];

                    +fill-profile-nav
                        each item, index in menuItems
                            - i = index + 1
                            if i < activeItem
                                +fill-profile-nav-item(item.href).completed= item.title
                            else if i === activeItem
                                +fill-profile-nav-item(item.href).active= item.title
                            else if i === menuItems.length
                                +fill-profile-nav-item(item.href)._main= item.title
                            else
                                +fill-profile-nav-item(item.href)= item.title
//- Photo & Video
mixin user-fill-profile-1
    form(action='#' enctype='multipart/form-data' method='post').user-fill-profile__main
        .user-fill-profile__section
            +heading._md Photos
            +grid-masonry({ desktop: 3, laptop: 2, tablet: 2, mobile: 1}).js-user-fill-profile-photos
                +uploaded-photo('profile/photos/1.jpg').user-fill-profile__masonry-item.js-masonry-item
                +uploaded-photo('profile/photos/2.jpg').user-fill-profile__masonry-item.js-masonry-item
                +file-column(null, 'photo', 'image/*', false, 'Add photo', 'The size should not exceed 2 MB').user-fill-profile__masonry-item.js-masonry-item
        .user-fill-profile__section
            +heading._md Video
            +grid
                +col(6)
                    +field
                        +field-label Video file
                        +file(null, 'video-file', 'video/*', true)
                +col(6)
                    +field
                        +field-label Video URL
                        +field-input

                +col(4)
                    +button('button')._uppercase._bg_darkGrey._color_main.user-fill-profile__action Save & Exit
                +col(4)
                    +button('button')._uppercase._bg_main._color_white.user-fill-profile__action.js-user-fill-profile-continue continue

//- Personal data
mixin user-fill-profile-2
    form(action='#' method='post').user-fill-profile__main
        .user-fill-profile__section
            +heading._md Personal data
            +grid
                +col(4)
                    +field
                        +field-label Your age
                        +field-input(value=22)

                +col(4)
                    +field
                        +field-label Sex
                        +selectbox
                            +selectbox-control(name='sex')
                                option(value='1') Female
                                option(value='2') Male

                +col(4)
                    +field
                        +field-label Orientation
                        +selectbox
                            +selectbox-control(name='orientation')
                                option(value='1') Besexual
                                option(value='2') Heterosexual
                                option(value='3') Homosexual

                +col(4)
                    +field
                        +field-label Categories
                        +selectbox
                            +selectbox-control(name='category')
                                option(value='1') Escorts
                                option(value='2') item #1
                                option(value='3') item #2

                +col(4)
                    +field
                        +field-label Ethnicity
                        +selectbox
                            +selectbox-control(name='ethnicity')
                                option(value='1') American
                                option(value='2') European
                                option(value='3') Asian
        .user-fill-profile__section
            +heading._md Languages
            +grid
                +col(4)
                    +field
                        +field-label Language 1
                        +selectbox
                            +selectbox-control(name='language')
                                option(value='1') English
                                option(value='2') French
                                option(value='3') Russian
                +col(4)
                    +field
                        +field-label Language 2
                        +selectbox
                            +selectbox-control(name='language')
                                option(value='1') English
                                option(value='2' selected) French
                                option(value='3') Russian
                +col(4)
                    +field
                        +field-label Add more languages
                        +icon-button('plus', 14, 14).user-fill-profile__add-btn.js-user-fill-profile-add-language

        .user-fill-profile__section
            +heading._md External data
            +grid
                +col(4)
                    +field
                        +field-label
                            | Breast size
                            +selectbox._small
                                +selectbox-control(name='breast-size')
                                    option(value='1') eur
                                    option(value='2') am
                        +selectbox
                            +selectbox-control
                                option(value='1') 4d
                                option(value='2') 3d
                                option(value='3') 2d
                +col(4)
                    +field
                        +field-label
                            | Height
                            +selectbox._small
                                +selectbox-control
                                    option(value='1') cm
                                    option(value='2') in
                        +selectbox
                            +selectbox-control(name='height')
                                option(value='160') 160
                                option(value='165') 165
                                option(value='170') 170
                                option(value='175' selected) 175
                                option(value='180') 180
                                option(value='185') 185
                                option(value='190') 190
                +col(4)
                    +field
                        +field-label
                            | Weight
                            +selectbox._small
                                +selectbox-control
                                    option(value='1') kg
                                    option(value='2') pd
                        +selectbox
                            +selectbox-control(name='weight')
                                option(value='40') 40
                                option(value='45') 45
                                option(value='50') 50
                                option(value='55' selected) 55
                                option(value='60') 60
                                option(value='65') 65
                +col(4)
                    +field
                        +field-label Hair color
                        +selectbox
                            +selectbox-control(name='hair-color')
                                option(value='1') Blonde
                                option(value='2') Black
                                option(value='3') Gray
                                option(value='4' selected) Red
                +col(4)
                    +field
                        +field-label Eye color
                            +selectbox._small
                                +selectbox-control
                                    option(value='1') Eur
                                    option(value='2') Am
                        +selectbox
                            +selectbox-control(name='eye-color')
                                option(value='1') blue
                                option(value='2') green
                                option(value='3') brown
                                option(value='3') grey
                +col(4)
                    +field
                        +field-label
                            | Shoe size
                            +selectbox._small
                                +selectbox-control
                                    option(value='1') Eur
                                    option(value='2') Am
                        +selectbox
                            +selectbox-control(name='shoe-size')
                                option(value='160') 160
                                option(value='165') 165
                                option(value='170') 170
                                option(value='175' selected) 175
                                option(value='180') 180
                                option(value='185') 185
                                option(value='190') 190


        .user-fill-profile__section
            +heading._md Service for
            +grid
                +col(4)
                    +checkbox(true, 'service-for', 'women') Women
                +col(4)
                    +checkbox(false, 'service-for', 'men') Men
        .user-fill-profile__section
            +heading._md Keywords
            +grid
                +col(4)
                    +checkbox(true, 'keywords', 'vip_companion') Vip Companion
                +col(4)
                    +checkbox(false, 'keywords', 'muscular') Muscular
                +col(4)
                    +checkbox(false, 'keywords', 'model_ex-model') Model/Ex-model
                +col(4)
                    +checkbox(true, 'keywords', 'occasional') Occasional
                +col(4)
                    +checkbox(false, 'keywords', 'super-busty') Super busty
                +col(4)
                    +checkbox(false, 'keywords', 'super-booty') Super booty
                +col(4)
                    +checkbox(true, 'keywords', 'petite') Petite
                +col(4)
                    +checkbox(false, 'keywords', 'all-natural') All natural
                +col(4)
                    +checkbox(false, 'keywords', 'college-girl') College girl
                +col(4)
                    +checkbox(true, 'keywords', 'bbw') BBW
                +col(4)
                    +checkbox(false, 'keywords', 'fitness-girl') Fitness girl
                +col(4)
                    +checkbox(false, 'keywords', 'mature') Mature
                +col(4)
                    +button('button')._uppercase._bg_darkGrey._color_main.user-fill-profile__action Save & Exit
                +col(4)
                    +button('button')._uppercase._bg_main._color_white.user-fill-profile__action.js-user-fill-profile-continue continue

//- Availability
mixin user-fill-profile-3
    form(action='#' method='post').user-fill-profile__main
        .user-fill-profile__section
            +heading._md Choose below your availability
            .user-fill-profile__subsection
                .user-fill-profile__col
                    +grid
                        +col(12)
                            +checkbox(true, 'incall', 1) Incall
                        +col(12)
                            +radio(false, 'incall-availability', 1) Private Apartment
                        +col(12).grid__col_align_center.grid__col_space_between
                            +radio(false, 'incall-availability', 2) Hotel Room
                            .user-fill-profile__column.user-fill-profile__column_half
                                .user-fill-profile__label Stars
                                +selectbox._full
                                    +selectbox-control(name='stars')
                                        - for (var i = 0; i <= 5; i++)
                                            option(value=i)=`${i}`
                        +col(12)
                            +radio(false, 'incall-availability', 3) Club/Studio
                        +col(12)
                            +radio(false, 'incall-availability', 4) Other
                            +textarea('incall-details', 'Details here').user-fill-profile__other-textarea
                .user-fill-profile__col
                    +grid
                        +col(12)
                            +checkbox(true, 'outcall', 1) Outcall
                        +col(12)
                            +radio(false, 'outcall-availability', 1) Hotel visits only
                        +col(12)
                            +radio(false, 'outcall-availability', 2)._md Home visits only
                        +col(12)
                            +radio(false, 'outcall-availability', 3) Hotel & Home visits
                        +col(12)
                            +radio(false, 'outcall-availability', 4) Other
                            +textarea('outcall-details', 'Details here').user-fill-profile__other-textarea
        .user-fill-profile__section
            +grid
                +col(4).grid__col_space_between
                    +checkbox(false, 'select-all', 1).js-user-fill-profile-days Select all
                    +selectbox._small.js-user-fill-profile-hours-from-main
                        +selectbox-control(name='hours-from')
                            option(value='0') 00:00
                            option(value='1') 01:00
                            option(value='2') 02:00
                            option(value='3') 03:00
                            option(value='4') 04:00
                            option(value='5') 05:00
                            option(value='6') 06:00
                            option(value='7') 07:00
                            option(value='8') 08:00
                            option(value='9') 09:00
                            option(value='10') 10:00
                            option(value='11') 11:00
                            option(value='12') 12:00
                            option(value='13') 13:00
                            option(value='14') 14:00
                            option(value='15') 15:00
                            option(value='16') 16:00
                            option(value='17') 17:00
                            option(value='18') 18:00
                            option(value='19') 19:00
                            option(value='20') 20:00
                            option(value='21') 21:00
                            option(value='22') 22:00
                            option(value='23') 23:00
                            option(value='24') 24:00
                +col(4).hide-mob
                    span.user-fill-profile__label.user-fill-profile__label_flex_end From
                +col(4).hide-mob
                    span.user-fill-profile__label.user-fill-profile__label_flex_end To

                each day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
                    +col(4).grid__col_align_center
                        +checkbox(false, 'day', day).js-user-fill-profile-day #{day}
                    +col(4)
                        +selectbox.js-user-fill-profile-hours-from
                            +selectbox-control(name='hours-from')
                                option(value='0') 00:00
                                option(value='1') 01:00
                                option(value='2') 02:00
                                option(value='3') 03:00
                                option(value='4') 04:00
                                option(value='5') 05:00
                                option(value='6') 06:00
                                option(value='7') 07:00
                                option(value='8') 08:00
                                option(value='9') 09:00
                                option(value='10') 10:00
                                option(value='11') 11:00
                                option(value='12') 12:00
                                option(value='13') 13:00
                                option(value='14') 14:00
                                option(value='15') 15:00
                                option(value='16') 16:00
                                option(value='17') 17:00
                                option(value='18') 18:00
                                option(value='19') 19:00
                                option(value='20') 20:00
                                option(value='21') 21:00
                                option(value='22') 22:00
                                option(value='23') 23:00
                                option(value='24') 24:00
                    +col(4)
                        +selectbox
                            +selectbox-control(name='hours-to')
                                option(value='0') 00:00
                                option(value='1') 01:00
                                option(value='2') 02:00
                                option(value='3') 03:00
                                option(value='4') 04:00
                                option(value='5') 05:00
                                option(value='6') 06:00
                                option(value='7') 07:00
                                option(value='8') 08:00
                                option(value='9') 09:00
                                option(value='10') 10:00
                                option(value='11') 11:00
                                option(value='12') 12:00
                                option(value='13') 13:00
                                option(value='14') 14:00
                                option(value='15') 15:00
                                option(value='16') 16:00
                                option(value='17') 17:00
                                option(value='18') 18:00
                                option(value='19') 19:00
                                option(value='20') 20:00
                                option(value='21') 21:00
                                option(value='22') 22:00
                                option(value='23') 23:00
                                option(value='24' selected) 24:00

                +col(4)
                    +button('button')._uppercase._bg_darkGrey._color_main.user-fill-profile__action Save & Exit
                +col(4)
                    +button('button')._uppercase._bg_main._color_white.user-fill-profile__action.js-user-fill-profile-continue continue

//- Contact
mixin user-fill-profile-4
    form(action='#' method='post').user-fill-profile__main
        .user-fill-profile__section
            +heading._md Contact
            +grid
                +col(3)
                    +field
                        +field-label Country code
                        +selectbox
                            +selectbox-control(name='country-code')
                                option +1
                                option +2
                                option +3
                                option +4
                +col(4)
                    +field
                        +field-label Phone
                        +field-input(value='+1 818 554-9937')
                +col(3).grid__col_push_bottom
                    +button('button')._uppercase._bg_main._color_white.user-fill-profile__action Edit

                +col(12)
                    .user-fill-profile__subsection.user-fill-profile__subsection_visual.user-fill-profile__subsection_labeled
                        +radio(true, 'sms-call', 1) SMS & Call
                        +radio(false, 'sms-call', 2) SMS only
                        +radio(false, 'sms-call', 3) no SMS
                        +checkbox(true, 'messengers', 1) Viber
                        +checkbox(false, 'messengers', 2) WhatsApp
                +col(6)
                    +field
                        +field-label Email
                        +field-input(value='mail@mail.com')
                +col(6)
                    +field
                        +field-label Website
                        +field-input(value='www.LocalModel.com')
        .user-fill-profile__section
            +heading._md Social Network (Past URL or Account name)
            +grid
                +col(6)
                    +field
                        +field-label Twitter
                        +field-input
                +col(6)
                    +field
                        +field-label Instagramm
                        +field-input
                +col(6)
                    +field
                        +field-label Tumblr
                        +field-input
                +col(6)
                    +field
                        +field-label Snapchat
                        +field-input

        +accordion.accordion_dark.user-fill-profile__only-btn
            +accordion-item('Select your location')
                +grid
                    +col(6)
                        +field
                            +field-label City
                            +input-selectlike(data-popup-id="#select-city" data-action="open")._small.js-toggle-popup
                                +input-selectlike-control(name='city' value='Los Angeles' readonly=true).js-change-city

                    +col(6)
                        +field
                            +field-label Address
                            +field-input Los Angeles
                    +col(12)
                        +map(true)#user-fill-profile-map

            +grid
                +col(4)
                    +button('button')._uppercase._bg_darkGrey._color_main.user-fill-profile__action Save & Exit
                +col(4)
                    +button('button')._uppercase._bg_main._color_white.user-fill-profile__action.js-user-fill-profile-continue continue

//- Rate
mixin user-fill-profile-5
    form(action='#' method='post').user-fill-profile__main
        .user-fill-profile__section
            +field
                +field-label
                    +heading._md Rate
                    +selectbox._small
                        +selectbox-control(name='rate').js-change-currency
                            option(value='$') DOL ($)
                            option(value='€') EUR (€)
            +grid
                +col(4).grid__col_push_bottom
                    span.user-fill-profile__label.user-fill-profile__label_control-like 1/2 hour
                +col(4)
                    +field
                        +field-label Incall
                        +selectbox
                            +selectbox-control(name='rate-incall').js-change-currency-el
                                option(value='50') 50 $
                                option(value='60') 60 $
                                option(value='70') 70 $
                                option(value='80') 80 $
                                option(value='90') 90 $
                                option(value='100') 100 $
                                option(value='110') 110$
                                option(value='115') 115$
                                option(value='120') 120 $
                                option(value='125') 125 $
                                option(value='150') 150 $
                                option(value='175') 175 $
                                option(value='200') 200 $
                +col(4)
                    +field
                        +field-label Outcall
                        +selectbox
                            +selectbox-control(name='rate-outcall').js-change-currency-el
                                option(value='50') 50 $
                                option(value='60') 60 $
                                option(value='70') 70 $
                                option(value='80') 80 $
                                option(value='90') 90 $
                                option(value='100') 100 $
                                option(value='110') 110$
                                option(value='115') 115$
                                option(value='120') 120 $
                                option(value='125' selected) 125 $
                                option(value='150') 150 $
                                option(value='175') 175 $
                                option(value='200') 200 $

                +col(4).grid__col_align_center
                    span.user-fill-profile__label 1 hour
                +col(4)
                    +selectbox
                        +selectbox-control(name='rate-per-hour').js-change-currency-el
                            option(value='50') 50 $
                            option(value='60') 60 $
                            option(value='70') 70 $
                            option(value='80') 80 $
                            option(value='90') 90 $
                            option(value='100') 100 $
                            option(value='110') 110$
                            option(value='115') 115$
                            option(value='120') 120 $
                            option(value='125') 125 $
                            option(value='150' selected) 150 $
                            option(value='175') 175 $
                            option(value='200') 200 $
                +col(4)
                    +selectbox
                        +selectbox-control(name='rate').js-change-currency-el
                            option(value='50') 50 $
                            option(value='60') 60 $
                            option(value='70') 70 $
                            option(value='80') 80 $
                            option(value='90') 90 $
                            option(value='100') 100 $
                            option(value='110') 110$
                            option(value='115') 115$
                            option(value='120') 120 $
                            option(value='125') 125 $
                            option(value='150') 150 $
                            option(value='175' selected) 175 $
                            option(value='200') 200 $

                +col(4).grid__col_align_center
                    span.user-fill-profile__label 2 hour
                +col(4)
                    +selectbox
                            +selectbox-control(name='rate').js-change-currency-el
                                option(value='50') 50 $
                                option(value='60') 60 $
                                option(value='70') 70 $
                                option(value='80') 80 $
                                option(value='90') 90 $
                                option(value='100') 100 $
                                option(value='110') 110$
                                option(value='115') 115$
                                option(value='120') 120 $
                                option(value='125') 125 $
                                option(value='150') 150 $
                                option(value='175') 175 $
                                option(value='200') 200 $
                +col(4)
                    +selectbox
                        +selectbox-control(name='rate').js-change-currency-el
                            option(value='50') 50 $
                            option(value='60') 60 $
                            option(value='70') 70 $
                            option(value='80') 80 $
                            option(value='90') 90 $
                            option(value='100') 100 $
                            option(value='110') 110$
                            option(value='115') 115$
                            option(value='120') 120 $
                            option(value='125') 125 $
                            option(value='150') 150 $
                            option(value='175') 175 $
                            option(value='200') 200 $
                            option(value='225' selected) 225 $

                +col(4).grid__col_align_center
                    span.user-fill-profile__label Night
                +col(4)
                    +selectbox
                        +selectbox-control(name='rate').js-change-currency-el
                            option(value='50') 50 $
                            option(value='60') 60 $
                            option(value='70') 70 $
                            option(value='80') 80 $
                            option(value='90') 90 $
                            option(value='100') 100 $
                            option(value='110') 110$
                            option(value='115') 115$
                            option(value='120') 120 $
                            option(value='125') 125 $
                            option(value='150') 150 $
                            option(value='175') 175 $
                            option(value='200') 200 $
                            option(value='225') 225 $
                            option(value='250') 200 $
                            option(value='500' selected) 500 $
                            option(value='550') 550 $
                            option(value='200') 200 $
                +col(4)
                    +selectbox
                        +selectbox-control(name='rate').js-change-currency-el
                            option(value='50') 50 $
                            option(value='60') 60 $
                            option(value='70') 70 $
                            option(value='80') 80 $
                            option(value='90') 90 $
                            option(value='100') 100 $
                            option(value='110') 110$
                            option(value='115') 115$
                            option(value='120') 120 $
                            option(value='125') 125 $
                            option(value='150') 150 $
                            option(value='175') 175 $
                            option(value='200') 200 $
                            option(value='225') 225 $
                            option(value='250') 200 $
                            option(value='500') 500 $
                            option(value='550' selected) 550 $
                            option(value='200') 200 $

                +col(4)
                    +button('button')._uppercase._bg_darkGrey._color_main.user-fill-profile__action Save & Exit
                +col(4)
                    +button('button')._uppercase._bg_main._color_white.user-fill-profile__action.js-user-fill-profile-continue continue

//- About me
mixin user-fill-profile-6
    form(action='#' method='post').user-fill-profile__main
        .user-fill-profile__section.user-fill-profile__section_column
            +heading._md About me
            +grid
                +col(12)
                    +textarea Mon nom est Megan, cultivée, je suis la plus belle compagne aventureuse pour n’importe quelle occasion. im the perfect woman that can give you the satisfaction, if you need relax and massage, call me, im real naughty, clean and safety so my picture is recent and 100% real, i propose Full package series kiseessss call me baby

            +grid.grid_push_bottom
                +col(4).grid__col_push_bottom
                    +button('button')._uppercase._bg_darkGrey._color_main.user-fill-profile__action Save & Exit
                +col(4).grid__col_push_bottom
                    +button('button')._uppercase._bg_main._color_white.user-fill-profile__action.js-user-fill-profile-continue continue

//- Service
mixin user-fill-profile-7
    form(action='#' method='post').user-fill-profile__main
        .user-fill-profile__section
            +heading._md Service
            +grid
                +col(4)
                    +field
                        +field-label Category Service
                        +selectbox
                            +selectbox-control(name='category-service')
                                option Independent
                                option item #1
                                option item #2
                                option item #3
                                option item #4
                +col(4)
                    +field
                        +field-label Currency
                        +selectbox
                            +selectbox-control(name='currency').js-change-currency
                                option(value='$') DOL $
                                option(value='€') EUR €

        .user-fill-profile__section
            +heading._md Sex
            +grid
                +col(4).grid__col_align_center.grid__col_space_between
                    +checkbox(true, 'sex', 0) Classical Sex
                    +add-input('classical-sex-value', '100 $', '', 'text', 'js-change-currency-el')
                +col(4).grid__col_align_center.grid__col_space_between
                    +checkbox(false, 'sex', 1) Sex
                    +add-input('sex-value', '0 $', '', 'text', 'js-change-currency-el')
                +col(4).grid__col_align_center.grid__col_space_between
                    +checkbox(false, 'sex', 2) Deep throating
                    +add-input('deep-throating-value', '0 $', '', 'text', 'js-change-currency-el')

                +col(4).grid__col_align_center.grid__col_space_between
                    +checkbox(true, 'sex', 3) Anal sex
                    +add-input('sex-value', '2500 $', '', 'text', 'js-change-currency-el')
                +col(4).grid__col_align_center.grid__col_space_between
                    +checkbox(false, 'sex', 4) BJ with condom
                    +add-input('bj-with-condom-value', '0 $', '', 'text', 'js-change-currency-el')
                +col(4).grid__col_align_center.grid__col_space_between
                    +checkbox(false, 'sex', 5) BJ in your car
                    +add-input('bj-in-your-car-value', '0 $', '', 'text', 'js-change-currency-el')

                +col(4).grid__col_align_center.grid__col_space_between
                    +checkbox(true, 'sex', 6) Lesbian sex
                    +add-input('lesbian-sex-value', '0 $', '', 'text', 'js-change-currency-el')
                +col(4).grid__col_align_center.grid__col_space_between
                    +checkbox(false, 'sex', 7) Cunnilingus
                    +add-input('cunnilingus-value', '0 $', '', 'text', 'js-change-currency-el')
                +col(4).grid__col_align_center.grid__col_space_between
                    +checkbox(false, 'sex', 8) Sex toys
                    +add-input('sex-toys-value', '0 $', '', 'text', 'js-change-currency-el')

                +col(4).grid__col_align_center.grid__col_space_between
                    +checkbox(true, 'sex', 9) Couples
                    +add-input('classical-sex-value', '0 $', '', 'text', 'js-change-currency-el')
                +col(4).grid__col_align_center.grid__col_space_between
                    +checkbox(false, 'sex', 10) BJ without condom
                    +add-input('bj-without-condom-value', '0 $', '', 'text', 'js-change-currency-el')
                +col(4).grid__col_align_center.grid__col_space_between
                    +checkbox(false, 'sex', 11) Cum on breast
                    +add-input('on-breast-value', '0 $', '', 'text', 'js-change-currency-el')

                +col(4).grid__col_align_center.grid__col_space_between
                    +checkbox(true, 'sex', 12) Cum on face
                    +add-input('cum-on-face-value', '0 $', '', 'text', 'js-change-currency-el')
                +col(4).grid__col_align_center.grid__col_space_between
                    +checkbox(false, 'sex', 13) Cum in mouth
                    +add-input('cum-in-mount-value', '0 $', '', 'text', 'js-change-currency-el')
                +col(4).grid__col_align_center.grid__col_space_between
                    +checkbox(true, 'sex', 14) Classical sex
                    +add-input('classical-sex-value', '0 $', '', 'text', 'js-change-currency-el')

        .user-fill-profile__section
                +heading._md Massage
                +grid
                    +col(4)
                        +checkbox(true, 'massage', 1) Classic
                    +col(4)
                        +checkbox(false, 'massage', 2) Relaxing
                    +col(4)
                        +checkbox(true, 'massage', 3) Urological

                    +col(4)
                        +checkbox(true, 'massage', 4) Professional
                    +col(4)
                        +checkbox(false, 'massage', 5) Thai
                    +col(4)
                        +checkbox(false, 'massage', 6) Specific area

                    +col(4)
                        +checkbox(true, 'massage', 7) Erotic
                    +col(4)
                        +checkbox(true, 'massage', 8) Sakura

        .user-fill-profile__section
                +heading._md Striptease
                +grid
                    +col(4)
                        +checkbox(true, 'striptease', 1) Professional
                    +col(4)
                        +checkbox(true, 'striptease', 2) Amateur
                    +col(4)
                        +checkbox(true, 'striptease', 3) Hardcore Lesbi-show

                    +col(4)
                        +checkbox(true, 'striptease', 4) Soft Lesbi-show

        .user-fill-profile__section
                +heading._md BDSM
                +grid
                    +col(4)
                        +checkbox(false, 'striptease', 1) Bandage
                    +col(4)
                        +checkbox(true, 'striptease', 2) Games
                    +col(4)
                        +checkbox(true, 'striptease', 3) Getting Whipped

                    +col(4)
                        +checkbox(false, 'striptease', 4) Mistress
                    +col(4)
                        +checkbox(true, 'striptease', 5) Softcore domination
                    +col(4)
                        +checkbox(false, 'striptease', 6) Slave

                    +col(4)
                        +checkbox(true, 'striptease', 7) Fetish
                    +col(4)
                        +checkbox(false, 'striptease', 8) Trampling

        .user-fill-profile__section
                +heading._md Extreme
                +grid
                    +col(4)
                        +checkbox(false, 'extreme', 1) Strapon
                    +col(4)
                        +checkbox(false, 'extreme', 2) Golden rain, give
                    +col(4)
                        +checkbox(true, 'extreme', 3) Copro

                    +col(4)
                        +checkbox(true, 'extreme', 4) Anilingus
                    +col(4)
                        +checkbox(true, 'extreme', 5) Golden rain, receive
                    +col(4)
                        +checkbox(true, 'extreme', 6) Anal fisting

                    +col(4)
                        +checkbox(false, 'extreme', 7) Fisting

        .user-fill-profile__section
                +heading._md Other
                +grid
                    +col(4)
                        +checkbox(false, 'extreme', 1) Role play
                    +col(4)
                        +checkbox(false, 'extreme', 2) Photo/Video
                    +col(4)
                        +checkbox(true, 'extreme', 3) Escort

                +col(4)
                    +button('button')._uppercase._bg_darkGrey._color_main.user-fill-profile__action Save & Exit
                +col(4)
                    +button('button')._uppercase._bg_main._color_white.user-fill-profile__action.js-user-fill-profile-continue continue

//- Tours
mixin user-fill-profile-8
    form(action='#' method='post').user-fill-profile__main
        .user-fill-profile__sections
            .user-fill-profile__section
                +heading._md Tour 1

                +grid
                    +col(12)
                        +accordion
                            +accordion-item('Select Country and City').accordion__item_topborder.accordion__item_no-lr-paddings
                                +grid
                                    +col(6)
                                        +field
                                            +field-label City
                                            +input-selectlike(data-popup-id="#select-city" data-action="open")._small.js-toggle-popup
                                                +input-selectlike-control(name='city' value='Los Angeles' readonly=true).js-change-city

                                    +col(6)
                                        +field
                                            +field-label Address
                                            +field-input Los Angeles

            .user-fill-profile__section.user-fill-profile__section_small-top-space
                +grid
                    +col(6)
                        +field
                            +field-label Tour name
                            +field-input(value='Girls is on tour in Roterdam')
                    +col(6)
                        +field
                            +field-label Status
                            +field-input(value="I'm right now on my tour (4 more days)")
                    +col(6)
                        +field
                            +field-label From
                            +selectbox
                                +selectbox-control(name='from')
                                    option 20 JUL
                                    option 21 JUL
                                    option(selected) 22 JUL
                                    option 23 JUL
                                    option 24 JUL
                    +col(6)
                        +field
                            +field-label To
                            +selectbox
                                +selectbox-control(name='to')
                                    option 26 JUL
                                    option 27 JUL
                                    option 28 JUL
                                    option(selected) 29 JUL

                +grid
                    +col(2)
                        +field
                            +field-label Country code
                            +selectbox
                                +selectbox-control(name='country-code')
                                    option +1
                                    option +2
                                    option +3
                                    option +4
                                    option +5
                    +col(4)
                        +field
                            +field-label Phone
                            +field-input(value='+1 818 554-9937')

        .user-fill-profile__section
            +grid
                +col(12)
                    +accordion(false, true).accordion_dark
                        +accordion-item('Add Upcoming Tour').js-user-fill-profile-add-tour
                +col(4)
                    +button('button')._uppercase._bg_darkGrey._color_main.user-fill-profile__action Save & Exit
                +col(4)
                    +button('button')._uppercase._bg_main._color_white.user-fill-profile__action.js-user-fill-profile-continue continue

//- Tours
mixin user-fill-profile-9
    form(action='#' method='post').user-fill-profile__main
        .user-fill-profile__section
            +heading._md Verification

            +grid.js-user-fill-profile-picture-container
                +col(12)
                    span.user-fill-profile__label Picture 1
                    span.user-fill-profile__label Explanation for the picture 1

                +col(4)
                    +file-column(null, 'photo', 'image/*', false, 'Add photo', 'The size should not exceed 2 MB')
                +col(8)
                    +textarea('details', 'Details here')

            +grid
                +col(12)
                    +accordion(false, true).accordion_dark
                        +accordion-item('Add one more picture').js-user-fill-profile-add-more-picture

        .user-fill-profile__section
            +heading._md Video for Porn Star status
            +grid
                +col(6)
                    +field
                        +field-label Video file
                        +file(null, 'video-file', 'video/*', true)
                +col(6)
                    +field
                        +field-label Video URL
                        +field-input(placeholder="Paste the link")
                +col(4)
                    +button('button')._uppercase._bg_darkGrey._color_main.user-fill-profile__action Save & Exit
